# Base de données PostgreSQL
DATABASE_URL="prisma+postgres://localhost:51213/?api_key=..."
DIRECT_DATABASE_URL="postgresql://postgres:postgres@localhost:51214/fidelx?sslmode=disable"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

# Stripe
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""

# Apple Wallet
APPLE_PASS_TYPE_ID=""
APPLE_TEAM_ID=""
APPLE_WWDR_CERT_PATH=""
APPLE_SIGNER_CERT_PATH=""
APPLE_SIGNER_KEY_PATH=""
APPLE_SIGNER_KEY_PASSPHRASE=""

# Google Wallet
GOOGLE_WALLET_ISSUER_ID=""
GOOGLE_WALLET_SERVICE_ACCOUNT_EMAIL=""
GOOGLE_WALLET_SERVICE_ACCOUNT_KEY=""

# Redis (pour BullMQ)
REDIS_URL="redis://localhost:6379"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="FidelX"
